In [4]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv("https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding = "latin-1")
print(df)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [42]:
my_tuppy = (1,2,5,8)
my_tuppy[2]= 6

TypeError: ignored

In [91]:
s =df['Y2017']

In [92]:
s.mean()

140.9177648602722

In [93]:
s.std()

1671.8623590567995

In [102]:
D = df['Area']
D

0         Algeria
1         Algeria
2         Algeria
3         Algeria
4         Algeria
           ...
60938    Zimbabwe
60939    Zimbabwe
60940    Zimbabwe
60941    Zimbabwe
60942    Zimbabwe
Name: Area, Length: 60943, dtype: object

In [110]:
X = df.groupby('Area')['Y2017'].count()

In [111]:
X.shape

(49,)

In [50]:
df.shape

(60943, 12)

In [60]:
array = ([[94,89,63],[93,92,48],[92,94,56]])

In [63]:
s = [['him','sell'],[90,28,43]]
s[0][1][1]

'e'

In [72]:
y = [(2,4),(7,8),(1,5,9)]
x = y[1][1]
x

8

In [76]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

In [120]:
J = df.groupby('Item')['Item'].count()
J

Item
Alcohol, Non-Food      283
Alcoholic Beverages    564
Animal Products        135
Animal fats            639
Apples and products    517
                      ...
Vegetables, Other      583
Vegetal Products       135
Wheat and products     653
Wine                   497
Yams                   383
Name: Item, Length: 119, dtype: int64